.product {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 3em;
}

.product-data {
  display: flex;
  gap: 1em;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.product .title {
  font-size: 14px;
  color: var(--ui-text-secondary);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  font-weight: 600;
}

.quantity span {
  width: 50px;
  text-align: center;
}

:global(.remove-btn) {
  width: fit-content;
  --border: none;
  --text-color: var(--feedback-error);
  --text-color-hover: var(--feedback-error-light);
  --bg-color: transparent;
  --bg-hover-color: transparent;
  --padding: 0;
}
